$primaryColor: #0c0e17; 
$secondaryColor: #3c7e73;
$accentColor: #3990c3;
$greyColor: #ccc;
$menuColor: green;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;